MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
MINIO_KEY=eyJhbGciOiJFUzM4NCIsInR5cCI6IkpXVCJ9.eyJhaWQiOjAsImNhcCI6MCwiaWF0IjoxLjc3NTU2MzkxOTEyODc2NjE5NmU5LCJpc3MiOiJzdWJuZXRAbWluLmlvIiwibGlkIjoiZTE1NjM2OGItYjU0MC00MjNlLWEyNGYtNGE3OWI1Yjg4NjgyIiwib3JnIjoiIiwicGxhbiI6IkZSRUUiLCJzdWIiOiIyMjMxNzkxQG15LmlwbGVpcmlhLnB0IiwidHJpYWwiOmZhbHNlfQ.v9zOX4yitpHmKJcRAtWhsaLIBJlKj7qU0W64ZbXtJq7WVBIGdmERcPjszTzprDRnroDTDVwaHt5ulnQQMhG1dLkEYPjtA5JEqi6xIYdTBvyhrd004Rw_GN62eu8NrJpp